.flat-image{
  width: 100%;
  height: 100%;

}

.wrapper-white{
  background-color:#ffffff;
}

.flat-description {
  margin: 80px 75px;

}


.flat-booking-form{
  margin: 55px 45px;
  padding: 0 50px;
  border: 1px solid #e4e4e4;
  padding-bottom: 53px
}

.input-field{
  width: 100px;
}

.added-margin-bottom-30px{
  margin-bottom: 30px;
}

.added-margin-bottom-15px{
  margin-bottom: 15px;
}

.all-reviews{
  background-color: #EDEDED;
  padding: 100px 20px;
}


.flat-reviews {
  padding: 0px 150px;
}

.add-review{
  background-color: #EDEDED;
}


.review-form{
  border: 1px solid black;
  padding: 50px 100px;
}

#total-price {
  background-color: white;
  width: 102px;
  border: 2px groove #E8E8E8;
  border-radius: 5px;
  margin-top: 24px;
  margin-left: 33%;
 // width: 200, height: 300, crop: :fill
}

.fa-star:hover {
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
}

input[type="submit"] {
    margin-bottom: 25px;
}
