// Specific CSS for your home-page
.home-header{
  text-align: center;
  font-size: 60px;
}

.home-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}

.container {
  width: 70%;
}

