// Specific CSS for your home-page
.home-header{
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid slategrey;
  padding: 30px;
}

.home-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  .row{
    padding-top:15px;
  }
}

.container {
  width: 70%;
}


.flat-card{
  padding: 2px;
}
