// Specific CSS for your home-page
.home-header{
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  padding: 18px;
}

.home-container{
  display: flex;
  align-items: flex-start;
  background-color: white;
}


.flat-card{
  padding: 2px;
  width: 300px;
}

.flat-cards {
  flex: 0 0 70%;
  padding: 0 0px;
  margin: 0px;
  margin-top: 20px;
}

#map {
  flex: 0 0 30%;
}
