<h1> This is a list of all the flats </h1>
<div class="container">
  <ul>
    <% @flats.each do |flat|  %>
      <li>
        <div class="card">
        <%= flat.name %>
        <%= flat.price %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
