<h1 class="home-header"> This is a list of all the flats </h1>
<div class="container">
  <div class="row">
      <% @flats.each do |flat|  %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/random');">
              <div class="card-category"><%= flat.location %> </div>
              <div class="card-description">
                <h2><%= flat.name %> </h2>
                <p><%= flat.price %> </p>
              </div>
              <i class="fa fa-heart-o card-user" aria-hidden="true"></i>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
      <% end %>
  </div>
</div>
