<div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,101,168,0.6) 0%, rgba(40,36,61,0.6) 50%), url(<%= image_path "banner.png" %>);">
  <div class="banner-content">
    <h1> Book now for Christmas</h1>
    <div id="search-bar">
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Location" %>
    <%= submit_tag "Search", :name => nil, class:"search_btn" %>
    <% end %>
    </div>
  </div>
</div>
