.space {
  margin-bottom: 10px;
}

#booking-button{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: #ff2f51;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 6px;

}

#review-button{
    width: 50%;
    height: 50px;
    border-radius: 4px;
    background-color: #00a99c;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 6px;

}
