.card {
  width: 300px;
  color: black;
  position: relative;
  padding:5px;
  margin:0px;
  margin-bottom: 15px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-content{
  background-color: rgb(240,240,240);
  font-size: 13px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 65% 35%;
  border-radius: 5px;

  h3 {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  h4 {
    font-size: 15px;
    margin-left: 10px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .card-price {
    margin-top: 10px;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    white-space: pre-line;
  }
  .card-rating {
    margin-top: 5px;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
}

.card-image{
  height: 70%;
  width: 100%;
  border-radius: 5px;
}
