@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 8px;
  font: bold 20px Lato, sans-serif;
  text-align: center;
  color: #999;
  background: #eee;
}

.footer {
  padding: 20px 0;
  text-align: center;
  margin: -3px;
  width: 100%;
<<<<<<< HEAD
  // overflow:hidden;
  margin: -10px;
=======
>>>>>>> c20cd446b332e7e04706bef392c55748de3c9d9a
}

.social {
  display: inline-block;
  width: 31px;
  height: 30px;
  margin: -4px 5px;
  line-height: 31px;
  font-family: Entypo;
  font-size: 20px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  transition: color .3s;
  margin-top: 10px;
}

.social:hover {
  color: #59d;
  cursor: pointer;
}

.social-box {
  height: 23px;
  padding-bottom: 39px;
}

.social {
  box-shadow: rgb(210, 210, 210) 1px 1px,
  rgb(210, 210, 210) 2px 2px;
  text-shadow: rgb(226, 226, 226) 1px 1px,
  rgb(227, 227, 227) 2px 2px;
}
